# MakeCode
built/debug
built/mbcodal-binary.asm
built/mbcodal-binary.hex
built/mbdal-binary.asm
built/mbdal-binary.hex
built/yotta.json
node_modules
yotta_modules
yotta_targets
pxt_modules
_site
*.db
*.tgz
.header.json
.simstate.json
.github
_config.yml
projects